* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(255, 255, 0, 0.482);
}

.link {
    font-size: 30px;
    background: greenyellow;
    color: coral;
}
.input {
    padding: 5px;
    border: 22px solid rgb(123, 10, 13);
    margin: 33px;
}
.img {
    /* width: 250px; */
    height: 300px;
}